.env
.idea/
.deploy/
/venv
__pycache__
praetorian_api.egg-info


/apps/core/fixtures/

/docs/thesis/out/
!"/docs/thesis/out/.gitkeep
/static/
!/static/.gitkeep
/media/
!/media/.gitkeep
/logs/
!/logs/.gitkeep
